// page-showcase {}

.item-title {
  font-size: 18px;
}

.item-img {
  display: block;
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.item-content {
  font-size: 15px;
}

.post-content-text {
  white-space: pre-line;
}

.post-content-more {
  color: #2486DF !important;
}

.post-content-time {
  text-transform: uppercase;
  color: #2486DF;
  font-size: 13px;
}
